/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap')

/*Wildcard selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Playfair Display SC', sans-serif;
}

h1, h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
    color: #ffffff;
}

/* Header */

header {
    background: rgba(0, 0, 0, 0.25);
    /*Black background with 50% opactity so text can contrast background image*/
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/*Main Element*/
main {
    flex: 1 0 auto;
    margin-top: 0;
}

.home {
    height: 100vh;
    width: 100vw;
    background: url("../images/home_bg.jpg") no-repeat center center/cover;
    position: relative;
    image-rendering: auto;
    margin-top: 0;
}

.home div {
    position: absolute;
    margin-top: 300px;
}

/*Media Query for tablets and screens 768px and up*/
@media screen and (min-width: 768px) {

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
}